apiVersion: v1
kind: Pod
metadata:
  name: kube-apiserver
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-apiserver
    image: "hyperkube:{{ hyperkube_version }}"
    imagePullPolicy: IfNotPresent
    command:
    - /hyperkube
    - apiserver
    - --bind-address=0.0.0.0
    - --insecure-bind-address=127.0.0.1
    - --storage-backend=etcd3
    - --etcd-servers=http://{{ etcd_ip }}:{{ etcd_port }}
    - --allow-privileged=true
    - --service-cluster-ip-range={{ service_cluster_ip_range }}
    - --secure-port={{ api_ssl_port }}
    - --insecure-port={{ api_port }}
    - --tls-cert-file=/etc/kubernetes/cert/server.crt
    - --tls-private-key-file=/etc/kubernetes/cert/server.key
    - --client-ca-file=/etc/kubernetes/cert/ca.crt
    - --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota
    ports:
    - containerPort: {{ api_ssl_port }}
      hostPort: {{ api_ssl_port }}
      name: https
    - containerPort: {{ api_port }}
      hostPort: {{ api_port }}
      name: local
    volumeMounts:
    - mountPath: /etc/kubernetes
      name: kubernetes-config
      readOnly: true
    - mountPath: /etc/kubernetes/cert
      name: kubernetes-certs
      readOnly: true
  volumes:
  - hostPath:
      path: {{ kubelet_config_dir }}
    name: kubernetes-config
  - hostPath:
      path: {{ kubelet_config_dir }}/cert
    name: kubernetes-certs