apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-controller-manager
    image: "hyperkube:latest"
    imagePullPolicy: IfNotPresent
    command:
    - /hyperkube
    - controller-manager
    - --kubeconfig=/etc/kubernetes/controller-conf.yml
    - --service-account-private-key-file=/etc/kubernetes/cert/server.key
    - --root-ca-file=/etc/kubernetes/cert/ca.crt
    - --leader-elect=False
    - --cluster-cidr={{ cluster_cidr }}
    - --v=2
    volumeMounts:
    - mountPath: /etc/kubernetes
      name: kubernetes-config
      readOnly: true
    - mountPath: /etc/kubernetes/cert
      name: kubernetes-certs
      readOnly: true
  volumes:
  - hostPath:
      path: {{ kubelet_config_dir }}
    name: kubernetes-config
  - hostPath:
      path: {{ kubelet_config_dir }}/cert
    name: kubernetes-certs