sudo: required
dist: trusty
group: deprecated-2017Q4

addons:
  apt:
    packages:
      - docker-ce

before_install:
  - sudo apt-get install -y python python-dev python-netaddr python-apt wget
  - sudo pip install ansible

script:
  - ansible-playbook -i inventory/local images.yml
  - ansible-playbook -vvv -i inventory/local test.yml --extra-vars "travis_docker_bug=rw"
  - docker ps | grep api | cut -d" " -f 1 | xargs docker logs