apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    certificate-authority: /etc/kubernetes/cert/ca.crt
users:
- name: kubelet
  user:
    client-certificate: /etc/kubernetes/cert/kubelet.crt
    client-key: /etc/kubernetes/cert/kubelet.key
contexts:
- context:
    cluster: local
    user: kubelet
  name: kubelet-local
current-context: kubelet-local
