apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    certificate-authority: {{ kubelet_config_dir }}/cert/ca.pem
users:
- name: kubelet
  user:
    client-certificate: {{ kubelet_config_dir }}/cert/client.pem
    client-key: {{ kubelet_config_dir }}/cert/client.key
contexts:
- context:
    cluster: local
    user: kubelet
  name: kubelet-local
current-context: kubelet-local
