apiVersion: v1
kind: Pod
metadata:
  name: kube-scheduler
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-scheduler
    image: registry.stage1.ng.bluemix.net/armada-master/hyperkube-amd64:armada_current-127-v1.5.6-base
    imagePullPolicy: IfNotPresent
    command:
    - /hyperkube
    - scheduler
    - --kubeconfig=/etc/kubernetes/scheduler-kubeconfig

    - --master=https://10.143.139.206:443
    - --leader-elect=False
    - --v=2
    ports:
    - containerPort: 10251
      hostPort: 10251
      name: http
    volumeMounts:
    - mountPath: /etc/kubernetes
      name: kubernetes-config
      readOnly: true
    - mountPath: /etc/kubernetes/cert
      name: kubernetes-certs
      readOnly: true
  volumes:
  - hostPath:
      path: /etc/kubernetes
    name: kubernetes-config
  - hostPath:
      path: /etc/kubernetes/cert
    name: kubernetes-certs