apiVersion: v1
kind: Pod
metadata:
  name: kube-scheduler
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-scheduler
    image: "hyperkube:latest"
    imagePullPolicy: IfNotPresent
    command:
    - /hyperkube
    - scheduler
    - --kubeconfig=/etc/kubernetes/scheduler-conf.yml
    - --master=https://{{ api_ip }}:{{ api_ssl_port }}
    - --leader-elect=False
    - --v=2
    ports:
    - containerPort: 10251
      hostPort: 10251
      name: http
    volumeMounts:
    - mountPath: /etc/kubernetes
      name: kubernetes-config
      readOnly: true
    - mountPath: /etc/kubernetes/cert
      name: kubernetes-certs
      readOnly: true
  volumes:
  - hostPath:
      path: {{ kubelet_config_dir }}
    name: kubernetes-config
  - hostPath:
      path: {{ kubelet_config_dir }}/cert
    name: kubernetes-certs